.login-container{
  position: relative;
  width: 100%;
  height: 100vh;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

}



.login-container form {
  position: relative;
  z-index: 2;
  background: rgba(0, 0, 0, 0.85);
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(255,255,255,0.1);
  color: #fff;
  min-width: 320px;
  backdrop-filter: blur(5px);

}
.login-container .form-group{
  margin-bottom: 1.5rem;
}

.login-container label{
  display: block;
  margin-bottom: 0.5rem;
  color: #ccc;

}

.login-container input{
  width: 100%;
  padding: 0.7rem;
  border-radius: 10px;
  border: none;
  outline: none;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
}

.login-container button{
  width: 100%;
  padding: 0.8rem;
  border: none;
  border-radius: 10px;
  background: #1a73e8;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

.login-container button:hover{
  background: #1669c1;
}

.login-container span{
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
  opacity: 0.8;
  animation: move 20s linear infinite, blink 2s ease-in-out infinite;
}

@keyframes move{
  0%{
    transform: translate(0, 0);
  }

  25%{
      transform: translate(50px,100px);
  }

  50%{
    transform: translate(-100px,200px);
  }

  75%{
    transform: translate(150px,50px);
  }

  100%{
    transform: translate(0,0)
  }
}

@keyframes blink  {
  0%, 100% {opacity: 0.2;}
  50% {opacity: 1;}
}