.App-header {

  background-color:#05043d;

}

.App {
  height: 100%;
  background-color: #05043d;
  width: 100%;
}
.fullscreen {
  width: 100%;
  height: 100%;
  background-color: rgb(2, 2, 146); 
}
*{margin: 0;
  padding: 0;
  box-sizing: border-box;
}